
 .about-container {
  min-height: 100vh;
 /* // background-color: #036b8b; */
 background-image: url('https://images.unsplash.com/photo-1664455340023-214c33a9d0bd?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvcHBpbmclMjBjYXJ0fGVufDB8fDB8fHww');
  background-size: cover;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

.about-heading {
  text-align: center;
  font-size: 72px;
  margin-bottom: 60px;
  font-weight: bold;
  letter-spacing: 2px;
    text-shadow: 30px 10px 30px rgb(9, 161, 237);

}

.offer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 80px;
}

.reverse-section {
  flex-direction: row-reverse;
}

.offer-image {
  width:40%;
  border-radius: 20px;
  box-shadow: 20px 20px 20px rgba(1, 72, 74, 0.3);
cursor: pointer;
  transition: 0.3s;
}
.offer-image:hover {
  transform: scale(1.05);
}

.offer-content {
  width: 50%;
}

.offer-title {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #02557e;
  /* text-shadow: 30px 10px 30px rgb(224, 255, 255); */
}

.offer-description {
  font-size: 24px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #f8f8f8;
}

.offer-button {
  padding: 16px 40px;
  border: none;
  border-radius: 12px;
  background-color: #7acaf1 ;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.offer-button:hover {
  transform: scale(1.05);
}