.about-container {
  min-height: 100vh;
  display: flex;
  background-color: #0f172a;
  color: white;
}

.about-content {
  padding: 30px;
}

.about-heading {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-description {
  font-size: 18px;
  line-height: 1.7;
}