.products-container {
  width: 100%;
}
.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.products-header:hover {
  background: #191a208d;
}
.products-title {
  color: #d1d5db;
  font-size: 20px;
  margin: 0;
}
.dropdown-items {
  list-style: none;
  padding-left: 12px;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}
.show-dropdown {
  max-height: 200px;
  margin-top: 8px;
}
.dropdown-item {
  margin: 8px 0;
}
.dropdown-link {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 18px;
  display: block;
  padding: 12px 14px;
  border-radius: 8px;
  transition: 0.3s;
}
.dropdown-link:hover {
  background: #1f2937;
  color: white;
  transform: translateX(5px);
}