.cart-container {
  min-height: 100vh;
  background-color: #000001;
  color: white;
  

}

.cart-content {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.cart-heading {
  font-size: 52px;
  margin-bottom: 30px;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.empty-cart {
  color: white;

  font-size: 34px;

  margin-top: 50px;

  font-family: "Poppins", sans-serif;
}