.fashion-container {
  min-height: 100vh;
  background-color: #04112b;
  color: white;
}

.fashion-content {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.fashion-heading {
  font-size: 52px;
  margin-bottom: 30px;
}

.fashion-products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}