.cart-item {
  display: flex;
  gap: 20px;
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 700px;
}

.cart-image {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.cart-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.cart-price {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-quantity {
  font-size: 20px;
  margin-bottom: 20px;
}

.remove-btn {
  width: 140px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: red;
  color: white;
  cursor: pointer;
}