.navbar-container {
  position: absolute;
  top: 20px;
  left: 70px;
  z-index: 1000;
 
}

.menu-btn {
  background: transparent;
  border: none;
  color: rgb(230, 227, 227);
  font-size: 30px;
  cursor: pointer;
}

.sidebar-menu {
  position: absolute;
  top: 80px;
  left: 0;
background-color: rgb(117, 123, 121);
  width: 260px;
  padding: 20px;
}